/* .md-header {
	background-color: #ff7043 !important;
}

.md-nav__link--active,
.md-nav__link:active {
	color: #ff7043 !important;
}

.md-nav__link:focus,
.md-nav__link:hover {
	color: #ffba43 !important;
}

.md-typeset a {
	color: #ff7043 !important;
}

.md-tabs {
	background-color: #ff7043 !important;
}

html .md-footer-meta.md-typeset a {
	color: hsla(0, 0%, 100%, .7) !important;
} */

.m_h2_span {
	font-weight: 400 !important;
	background-color: #795548;
	color: white;
	padding: 5px;
	border-radius: 2px;
}

.m_h3_span {
	border-left: #795548 solid 2px;
	border-right: #795548 solid 2px;
	color: #111111;
	padding: 2px 5px;
}